

.option{
    margin: 0;
    width: 100px;
    border-bottom: 2px solid #f8f9fa;
    border-top: 2px solid #f8f9fa;
    margin-left: 20px;
    transition: 500ms; 
}

.option:hover{
    font-weight: bold;
    padding-left: 50px !important;  
    width: 150px;
    border-bottom: 2px solid violet;    
    color: violet !important;
}